.html,
.body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

.root {
  box-sizing: inherit;
  height: 100%;
  min-width: 765px;
  min-height: 600px;
  background-color: #222;
}

.main {
  height: 90%;
  box-sizing: inherit;
  width: 100%;
  display: flex;
}

.main__nav {
  padding-top: 24px;
  box-sizing: inherit;
  height: 100%;
  width: 15%;
  min-width: 200px;
  background-color: black;
}

.nav_logo__link {
  display: block;
  box-sizing: inherit;
  height: 40px;
  padding: 0 24px;
  margin-bottom: 18px;
}

.nav_logo__icon {
  width: 100%;
  box-sizing: inherit;
  max-width: 131px;
  height: 40px;
}

.nav_btns {
  list-style: none;
  box-sizing: inherit;
  padding: 0 8px;
}

.nav_btns__line {
  margin-top: 10px;
  box-sizing: inherit;
  height: 1px;
  background-color: #333;
  border: none;
}

.nav_btns__btn {
  padding: 0 16px;
  box-sizing: inherit;
  display: flex;
  align-items: center;
  height: 40px;
  color: #b3b3b3;
  transition: 0.4s;
}

.nav_btns__btn:hover {
  cursor: pointer;
  box-sizing: inherit;
  color: white;
}

.nav_btns__btn:hover > svg {
  fill: white;
  box-sizing: inherit;
}

.nav_btns__btn_active {
  color: white;
  box-sizing: inherit;
}

.nav_btns__icon {
  margin-right: 8px;
  box-sizing: inherit;
  transition: fill 0.4s ease;
}

.main__container {
  height: 100%;
  width: 85%;
  box-sizing: inherit;
}

.top_bar {
  width: 100%;
  height: 64px;
  box-sizing: inherit;
  /* background-cprofile_btnolor: aliceblue; */
}

.top_bar__header {
  padding: 16px 32px;
  height: 64px;
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
}

.navigation_btns {
  max-width: 100px;
  display: flex;
  box-sizing: inherit;
  justify-content: space-around;
  width: 12%;
}

.navigation_btn {
  background-color: #111;
  display: flex;
  align-items: center;
  box-sizing: inherit;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.navigation_btn__disabled {
  opacity: 0.5;
  box-sizing: inherit;
}

.navigation_btn:hover {
  cursor: pointer;
  box-sizing: inherit;
}

.navigation_btn_disabled:hover {
  cursor: not-allowed;
  box-sizing: inherit;
}
.profile_btn {
  max-width: 200px;
  min-width: 130px;
  box-sizing: inherit;
  height: 32px;
  display: flex;
  background-color: #111;
  border-radius: 23px;
  width: 20%;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 600;
}

.text_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: inherit;
  text-overflow: ellipsis;
}

.profile_btn__titile {
  max-width: 55%;
  font-size: 0.875rem;
  box-sizing: inherit;
}

.profile_btn__show_more {
  margin-right: 6px;
  box-sizing: inherit;
}

/* .profile_btn__avatar {
    width: 28px;
    box-sizing:inherit;
    height: 28px;
    background-color: #535353;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} */

.signup_btn:hover,
.profile_btn:hover {
  background-color: #333;
  cursor: pointer;
  box-sizing: inherit;
}

.content {
  height: calc(100% - 64px);
  box-sizing: inherit;
  padding: 0 32px;
  padding-top: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content__section {
  display: flex;
  flex-wrap: wrap;
  box-sizing: inherit;
  height: 45%;
  min-height: 350px;
  min-width: 100%;
  margin-bottom: 16px;
}

.section__title {
  width: 100%;
  height: 20%;
  box-sizing: inherit;
  max-height: 50px;
  display: flex;
  margin-bottom: 16px;
  color: white;
  align-items: center;
}

.section__title_text {
  margin-right: auto;
  box-sizing: inherit;
}

.section__show_all {
  text-transform: uppercase;
  box-sizing: inherit;
  margin-left: 8px;
  font-weight: 700;
  font-size: 0.9rem;
  color: #cacaca;
}

.section__title_text:hover,
.section__show_all:hover {
  box-sizing: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.section__content {
  width: 100%;
  height: 80%;
  box-sizing: inherit;
}

.album_card {
  background-color: #1d1d1d;
  box-sizing: inherit;
  height: 100%;
  padding: 16px;
  width: 18%;
  min-width: 215px;
  max-width: 230px;
  border-radius: 5px;
  transition: 0.5s;
}

.album_card:hover {
  cursor: pointer;
  box-sizing: inherit;
  background-color: #2b2b2b;
}

.album_card__image {
  height: auto;
  padding-bottom: 16px;
  height: 80%;
  box-sizing: inherit;
}

.album_card__image_content {
  height: 100%;
  box-sizing: inherit;
  width: 100%;
}

.album_card__info {
  display: flex;
  flex-direction: column;
  height: 20%;
  min-height: 62px;
  color: white;
  box-sizing: inherit;
}

.album_title {
  max-height: 70%;
  font-weight: 600;
  font-size: 1rem;
  box-sizing: inherit;
  padding-bottom: 4px;
}

.album_author {
  max-height: 30%;
  font-size: 0.785rem;
  color: #cacaca;
  box-sizing: inherit;
}

.card_content__descripton {
  /* margin-top: 8px; */
  color: rgba(255, 255, 255, 0.5);
  word-break: break-word;
}

.card_content__extra {
  font-size: 14px;
  margin-top: 8px;
}

.card_content__items {
  margin-top: 5%;
}

.card_content_grid {
  padding: 2% 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr 12fr 8fr 8fr 2fr;
  grid-gap: 5px;
}

.card_content_grid:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.categories_grid {
  width: 100%;
  padding-bottom: 5%;
  grid-gap: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: space-between;
  /* grid-template-rows: repeat(auto-fit, 180px); */
}

.search_output__title {
  width: 100%;
  font-size: 96px;
  line-height: 96px;
  color: white;
  margin-bottom: 5%;
}

.category_card {
  height: 180px;
  width: 180px;
  position: relative;
  /* background-color: #27856a; */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.category_card__img {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  transform: rotate(25deg) translate(18%, -2%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  /* filter: drop-shadow(-5px 5px 15px #444); */
}

.category_card__title {
  width: 100%;
  max-height: 100%;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  word-break: break-word;
  filter: drop-shadow(0 0 10px #555);
  /* text-transform: uppercase; */
  text-align: start;
  margin-top: 10%;
  font-weight: 600;
  padding: 0 5%;
}

.now_playing_bar {
  border-top: 1px solid #444;
  height: 10%;
  box-sizing: inherit;
  padding: 0 16px;
}

.now_playing_bar__footer {
  /* width: 100%; */
  height: 100%;
  display: flex;
  box-sizing: inherit;
  align-items: center;
  justify-content: center;
}

.player__wrapper {
  width: 40%;
  box-sizing: inherit;
  height: 100%;
  display: flex;
  align-items: center;
}

.player {
  width: 100%;
  color: red;
  box-sizing: inherit;
}

.player::-webkit-media-controls-panel,
.player::-webkit-media-controls-enclosure {
  background-color: #707070;
  box-sizing: inherit;
}

/* .player::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 50%;
} */
